
.home__images{
  width: 100%;
  max-width: 400px;
  border-radius: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.home__text{
  display: block;
  width: 100%;
  text-align: center;
  margin: 1rem 0;
}
.row--custom{
  @media only screen and (max-width: 768px) {
    flex-direction: column-reverse;
  }
}