.header__nav {
  background: rgba(218, 165, 32, 0.8);

  @media only screen and (min-width: 1200px) {

    background: transparent;
  }

  .active{
    animation: jello;
    animation-duration: 800ms;
    animation-delay: 300ms;
  }
}