.header__nav {

  background: rgb(255, 255, 255);
  border-bottom: #DAA520 solid 2px;

  .active {
    animation: jello;
    animation-duration: 800ms;
    animation-delay: 300ms;
    font-weight: bold;
  }

  .navbar-collapse {
    text-transform: uppercase;
  }
}