.footer {
  background: rgb(255, 255, 255);
  border-top: #DAA520 solid 2px;

  .footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    @media only screen and (max-width: 768px) {
      flex-direction: column;
    }

    .footer__text {
      font-size: 0.8rem;
      color: #32363e;
      margin-bottom: 1rem;
    }

    .logo {
      max-height: 15rem;
      margin-bottom: 1rem;
      animation-duration: 5s;
    }
  }
}